{%  extends "invoicing/layout.html" %}
{% block body %}

        <div class="container">
            <h4>Customer: {{ customer.name }}</h4>
            <table>
                <tr>
                    <td>ID:</td>
                    <td>{{ customer.id }}</td>
                </tr>
                <tr>
                    <td>Name:</td>
                    <td>{{ customer.name }}</td>
                </tr>
                <tr>
                    <td>Address:</td>
                    <td>{{ customer.address }}</td>
                </tr>
            </table>
            <br>
            <form action="{% url 'new_invoice' customer.id %}">
                <input type="submit" value="New Invoice" />
            </form>
            <br>
            <form action="{% url 'reports:new_report' customer.id %}">
                <input type="submit" value="New Report" />
            </form>
            <br> 
            <hr>
            <h4>Latest Invoices</h4>

            {% include "invoicing/invoices.html" %}
            
            <h4>Latest Reports</h4>
            {% include "reports/all_reports.html" %}
            </div>
            
            <hr>
            
        </div>

    {% endblock %}