

<div class="container">
    <table class="table">
        <tr>
            <th>ID</th>
            <th>Number</th>
            <th>EUR</th>
            <th>Due date</th>
            <th>Paid</th>
            <th>Customer</th>
            <th></th>
            <th></th>
        </tr>
        {% for invoice in invoices %}

        <tr>
            <td>{{ invoice.id }}</td>
            <td>{{ invoice.number  }}</td>
            <td>{{ invoice.total_with_vat|floatformat:2 }}</td>
            <td>{{ invoice.due_date }}</td>
            <td><a href="{% url 'toggle_paid' invoice.id %}">
                {% if invoice.paid %}
                Apmaksāts
                {% else %}
                Nav apmaksāts
                {% endif %}
            </a></td>
            <td>{{ invoice.customer.name }}</td>
            <td><a href="{% url 'process_invoice' invoice.customer.id invoice.id %}">Edit</a></td>
            <td><a href="{% url 'delete_invoice' invoice.id %}">Delete</a></td>
            <td><a href="{% url 'generate_pdf' invoice.id %}">PDF</a></td>
        </tr>
        {% endfor %}
    </table>
   
</div>
